<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html">
<h:body>

<h:form>
olá
<p:commandButton id="botao" value="Botao" />
<h:commandButton id="botao1" value="BotaoH" />
</h:form>

</h:body>
</html>